.app-header {
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
}

.app-header__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.app-header__subtitle {
  font-size: 1.9rem;
  color: #808080;
}
